body,
html {
    --transition-speed: 0.4s;

    --background: rgb(243, 221, 221);
    --text-main: rgb(255, 255, 255);
    --text-highlight: rgb(255, 255, 255);
    --background-dark: rgb(251, 251, 251);

    margin: 0px;
    padding: 0px;
    width: 100%;
    height: fit-content;

    background-color: var(--background-dark);
    font-family: "Poppins", serif;
}

#personal-info {
    color: black;
    margin: 0px;
    padding: 10% 20% 5% 20%;
}

#profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
    width: 40%;
}


#footer {
    padding: 50px; text-align: center;
}

header {
    font-size: 50px;
    margin-top: 60px;

    text-align: center;
    text-transform: uppercase;
    color: black;
}

#name {
    font-weight: 900;
}

.grid {
    display: grid;
    margin: 20%;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.grid-item {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;

    border-radius: 20px;
    color: var(--text-main);
    transition: var(--transition-speed);
}

.grid-item:hover {
    border-radius: 4px;
    transition: var(--transition-speed);
}


.grid-item-title {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
    position: absolute;
    color: var(--text-main);
    font-size: 30px;
    left: 20px;
    top: 10%;

    width: 90%;
    transition: var(--transition-speed);
}

.grid-item > img {
    height: 100%;
}

.grid-item:hover>.grid-item-title {
    left: -100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: var(--transition-speed);
}



.grid-item-info {
    font-weight: 100;
    position: absolute;
    color: var(--text-main);
    top: 100%;
    font-size: 20px;
    left: 20px;
    transition: var(--transition-speed);
    width: 80%;
}

.grid-item:hover>.grid-item-info {
    top: 0%;
    transition: var(--transition-speed);
    left: 20px;
}

.grid-item>div {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;

    top: 0px;
    height: 100%;
    width: 100%;
}

.grid-item:hover>div {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.menubar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
    background-color: white;
    transition: 0.4s;
    opacity: 0%;
    text-align: center;
    padding: 0px 25px 0px 25px;
}

.menubar.sticking {
    transition: 0.4s;
    opacity: 100%;
    padding: 25px;
}

span {
    padding: 25px;
}

span.selected {
    color: rgb(0, 0, 0);
}

span:not(.selected) {
    color: rgb(73, 73, 73);
}